<script src="{{ '/assets/js/drawer.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/share.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/accessibility.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/novena-navigation.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/archive.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
{% if page.layout == 'app-page' %}
<script src="{{ '/assets/js/app-page.js' | relative_url }}" defer></script>
{% endif %}
{% if page.layout == 'resources-page' %}
<script src="{{ '/assets/js/resources-page.js' | relative_url }}" defer></script>
{% endif %}
{% if page.contact_form %}
<script src="{{ '/assets/js/contact-page.js' | relative_url }}" defer></script>
{% endif %}
